@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --background: #FFF9E4;
    --white: #FFF;
    --text: #000000e2;
    --gold: #ffd700;
    --btn-primary-bg: #F03986;
    --btn-primary-shd: #571530;
    --btn-text: #000000BD;
    --btn-correct: #28A745;
    --btn-correct-shd: #155724;
    --btn-incorrect: #DC3545;
    --btn-incorrect-shd: #7A1A28;
    --btn-incompleted: #B0C4DE;
    --btn-incompleted-shd: #8A9BAE;
    --btn-none: #CCCCCC;
    --btn-none-shd: #7A7A7A;
    --btn-option-0: #FF8437;
    --btn-option-0-shd: #C45A1E;
    --btn-option-1: #43DDA7;
    --btn-option-1-shd: #2C8D6E;
    --btn-option-2: #F2CA3C;
    --btn-option-2-shd: #B5931F;
    --btn-option-3: #3C9BF2;
    --btn-option-3-shd: #2466A8;
}

* {
    font-family: 'Poppins', sans-serif;;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
}

body {
    background-color: var(--background);
}

button {
    border: none;
}

li {
    list-style: none;
}

.button {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.9rem 2.4rem;
    border-radius: 0.4rem;
    background-color: var(--btn-primary-bg);
    color: var(--btn-text);
    border: 0.2rem solid var(--btn-primary-shd);
    box-shadow: 0.2rem 0.2rem 0 var(--btn-primary-shd);
    transition: all 0.1s ease;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
}

.button:active:not(:disabled){
    box-shadow: none;
    transform: translateX(0.2rem) translateY(0.2rem);
}

.hidden {
    display: none;
    visibility: hidden;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18.75rem;
    height: 18.75rem;
    position: relative;
}

.user-avatar-rank {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

.user-avatar-content {
    position: absolute;
    width: 70%;
    height: auto;
}