#selection-quest {
    margin: 2rem;
}

#selection-quest-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#selection-quest-section .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selection-quest-section .button span {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.button.open-quiz {
    background-color: var(--btn-incompleted);
    border-color: var(--btn-incompleted-shd);
    box-shadow: 0.2rem 0.2rem 0 var(--btn-incompleted-shd);
}

#selection-quest-section .button.locked-quiz {
    background-color: var(--btn-incorrect);
    border-color: var(--btn-incorrect-shd);
    box-shadow: 0.2rem 0.2rem 0 var(--btn-incorrect-shd);
    cursor: no-drop;
}

#selection-quest-section .button .lock-icon {
    width: 1.5rem;
    height: 1.5rem;
}